name: CI

on: [push]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Build and test frontend
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn --cwd frontend install
    - run: yarn --cwd frontend build
    - run: yarn --cwd frontend test
    - name: Build rust backend
      run: cargo build --manifest-path backend/Cargo.toml --verbose
    - name: Run tests
      run: cargo test --manifest-path backend/Cargo.toml --verbose
